<h1>OneNote Service API Result</h1>
<% if !@oneNoteWeb_url.nil? %>
    <b>Page created successfully!</b><br/><a href="<%=@oneNoteWeb_url%>" target="_onenote"> View created page on OneNote Online</a>
<% elsif !@response_code.nil? %>
    Error code: <%=@response_code%>    
<% end %>
<p></p>
<br/>
<a href="/">&lt;- Go back</a>